
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
    text-align: left;
}

h2 {
    color: #4CAF50; 
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

button[type="submit"] {
    background: linear-gradient(135deg, #4CAF50, #388E3C);
    color: white;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, box-shadow 0.2s;
}

button[type="submit"]:hover {
    background: linear-gradient(135deg, #45A049, #2E7D32);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


@media (max-width: 600px) {
    form {
        width: 90%;
        padding: 30px;
    }
}
